<div class="container">
  <div class="card">
    <div class="card-body">  
        <h1 class="card-title"><%= @task.title %></h1>
        <p class="card-subtitle mb-2 text-muted"><%= @task.details %></p>
        <p class="card-text"><em><%= @task_complete %></em></p>
        <%= button_to "Edit task", edit_task_path, method: :get, class:"btn btn-warning btn-sm" %>
        <%= link_to "Back to tasks", tasks_path %>
    </div>
  </div>
</div>